@import 'mvc/ModalView';

figure.right {
  margin-bottom: 2em;
}

h2.researcher {
  border-top: 1px dotted #ccc;
  margin: 2em 16px 0 0;
  padding-top: 1em;
  clear: both;
}
.researcher + ul {
    padding-left: 0;
  list-style: none;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}
.researcher + ul li {
  margin: 0 .5em .5em 0;
  line-height: 1.4;
}
