@import 'mvc/ModalView';

.right {
  margin-bottom: 2em;
}

.researcher {
  border-top: 1px dotted #ccc;
  clear: both;
  margin: 2em 16px 0 0;
  padding-top: 1em;
}

.researcher + ul {
  overflow: hidden;
}

@media screen and (min-width: 560px) {
  .researcher + ul > li {
    float: left;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}
